::selection {
	background: $link-blue;
	color: $white;
}

// Header

#header {
	background-color: $gray-light;
	border-bottom: 1px solid $gray-dark;
}

#header-img {

	&.default-header {
		background: url('chrome-extension://__MSG_@@extension_id__/img/icon-on.png') 0 0 no-repeat;
		background-size: 40px;
		height: 40px;
		margin: 0 5px 5px 0;
		width: 40px;
	}
}

#header-bottom-left {
	padding: 15px 0 0 12px;
}

#header-bottom-right,
.tabmenu li a {
	background-color: $white;
}

// Content

.content {
	margin-top: 20px;
}

.thing {

	.title {
		font-family: 'Domine', sans-serif;
		font-size: 20px;
		color: $link-blue;

		&:visited {
			color: $link-blue-visited;
		}
	}
}

.link {
	margin: 10px 0 0;
	padding: 10px 0 0;

	&.last-clicked {
		border: none;
	}

	.rank {
		color: $gray-medium;
		font-size: 12px;
		margin-top: 24px;
		opacity: 0.5;
	}

	.midcol {
		margin-top: 6px;
	}
}

.entry {
	margin-top: 5px;
}

.thumbnail {
	border: 1px solid $gray-med-light;
	border-radius: 50%;
	height: 62px;
	margin-right: 15px;
	width: 62px;

	img {
		height: 100%;
		left: 50%;
		position: absolute;
		transform: translatex(-50%);
		width: auto;
	}

	&.default {
		background-position: -4px -224px;
	}

	&.self {
		background-position: -4px -442px;
	}

	&.nsfw {
		background-position: -4px -297px;
	}
}

// RES

#progressIndicator,
.NERPageMarker {
	background-color: $white;
}