::selection {
	background: $link-blue;
	color: $white;
}

a,
a:visited {
	color: $black;

	&:hover {
		color: $link-blue-visited;
	}
}

.selected {

	a,
	a:visited {
		border: 1px solid $gray-dark;
		border-bottom: 1px solid $white;
	}
}

.flat-list {

	a,
	a:visited {
		color: $black;
	}
}

// Header

#header {
	background-color: $gray-light;
	border-bottom: 1px solid $gray-dark;
}

#header-img {

	&.default-header {
		background: url('chrome-extension://__MSG_@@extension_id__/img/icon-on.png') 0 0 no-repeat;
		background-size: 40px;
		height: 40px;
		margin: 0 5px 5px 0;
		width: 40px;
	}
}

#header-bottom-left {
	padding: 10px 0 0 12px;
}

#header-bottom-right,
.tabmenu li a {
	background-color: $white;
}

// Content

.content {
	margin-top: 20px;
}

.thing {

	.title {
		font-family: 'Domine', sans-serif;
		font-size: 20px;
		color: $black;

		&:visited {
			color: $black;

			&:hover {
				color: $link-blue-visited;
			}
		}

		&:hover {
			color: $link-blue;
		}
	}
}

.link {
	margin: 10px 0 0;
	padding: 10px 0 0;

	&.last-clicked {
		border: none;
	}

	.rank {
		color: $gray-medium;
		font-size: 12px;
		margin-top: 24px;
		opacity: 0.5;
	}

	.midcol {
		margin-top: 6px;
	}
}

.entry {
	margin-top: 5px;
}

.thumbnail {
	border: 1px solid $gray-med-light;
	border-radius: 50%;
	height: 62px;
	margin-right: 15px;
	width: 62px;

	img {
		height: 100%;
		left: 50%;
		position: absolute;
		transform: translatex(-50%);
		width: auto;
	}

	&.default {
		background-position: -4px -1093px;

		@media only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 2) {
			background-position: -4px -224px;
		}
	}

	&.self {
		background-position: -4px -1261px;

		@media only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 2) {
			background-position: -4px -442px;
		}
	}

	&.nsfw {
		background-position: -4px -1149px;

		@media only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 2) {
			background-position: -4px -297px;
		}
	}

	&.image {
		background-position: -4px -1037px;

		@media only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 2) {
			background-position: -4px -150px;
		}
	}

	&.spoiler {
		background-position: -4px -1205px;

		@media only screen and (min-resolution: 2dppx), only screen and (-webkit-min-device-pixel-ratio: 2) {
			background-position: -4px -369px;
		}
	}
}

// Buttons
.morelink {
	transition: all 300ms ease;
	background: $gray-light;
	border: 1px solid $gray-medium;
	height: 34px;
	top: 0;

	.nub {
		display: none;
	}

	a {
		transition: all 300ms ease;
		box-shadow: 0px 2px 10px 0px rgba(0,0,0,0);
		color: $black;
		padding: 1px 0 0;
	}

	&:hover {
		top: -2px;

		a {
			box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.25);
		}
	}

	&:active {
		top: 0;
	}
}

// Comments section
.linkinfo {
	background: $white;
	border: 1px solid $gray-medium;
}

// Submit section
.roundfield {
	background: $white;
	border: 1px solid $gray-medium;
}

// RES

#progressIndicator,
.NERPageMarker {
	background-color: $white;
}
